BasedOnStyle:                               WebKit

AlignTrailingComments:                      true
AlignAfterOpenBracket: BlockIndent

PenaltyBreakBeforeFirstCallParameter: 2

BreakAfterReturnType: Automatic
PenaltyReturnTypeOnItsOwnLine: 100000

BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: false

BinPackArguments: false
AllowAllArgumentsOnNextLine: false

BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

ExperimentalAutoDetectBinPacking: true

# Constructor() : newline (set false to get this)

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
ColumnLimit:                                100

NamespaceIndentation:                       None
PointerBindsToType:                         false
Standard:                                   Cpp11
BreakBeforeBinaryOperators:                 false
BreakBeforeBraces:                          Allman
IndentCaseLabels:                           false
IndentWidth: 4
Cpp11BracedListStyle:                       true
#PenaltyBreakContainer: 0


BreakBinaryOperations: RespectPrecedence

# AfterAssignment: Puts the { on a new line after =
BraceWrapping:
  #AfterInitializerList: false
  SplitEmptyRecord: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  AfterFunction: true

SpaceBeforeCpp11BracedList:                 false
SpaceBeforeParens : Never

AlwaysBreakTemplateDeclarations:            Yes

# Allow short stuff on single lines:
AllowShortBlocksOnASingleLine:               Never
AllowShortLambdasOnASingleLine:             All
AllowShortCaseLabelsOnASingleLine:           true
AllowShortFunctionsOnASingleLine: true
# coming in clang-format 23 AllowShortRecordOnASingleLine: SRS_Empty
